<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <style type="text/css">
        body {
            background: url(background.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .about {
            color: red;
        }
    </style>
</head>

<body>
    <div class="page">
        <div>
            <div> <img src="img/logo.jpg" class="logo1" /></div>
            <div class="nav_bar">
                <ul>
                    <li class="nav_con"><a href="/photosplash" class="clr">Home</a></li>
                    <li class="nav_con"><a href="/aboutus" class="clr about">About us</a></li>
                    <li class="nav_con"><a href="/gallery" class="clr">Gallery</a></li>
                    <li class="nav_con"><a href="/thecompetition" class="clr comp">The competition</a></li>
                    <li class="nav_con"><a href="/submit" class="clr">Submit entry</a></li>
                    <div class="clar"></div>
                </ul>
            </div>
        </div>
        <br />
        <div class="content">
            <div class="contenttxt">
                <br />
                <h2 class="heading">-About us-</h2>
                <div class="eqq"><img src="img/bridge.jpg" style="width:100%" /></div>
                <div class="eqq"><img src="img/national_theatre.jpg" style="width:100%" /></div>
                <div class="clar"></div>
                <p class="headingtxt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed est ante. Donec suscipit neque sed nulla ullamcorper,
                    quis lacinia erat varius. Integer volutpat arcu quis nisl eleifend iaculis. Sed urna massa, egestas ut
                    gravida sed, malesuada et sapien. Pellentesque eget erat ac urna euismod egestas eu et tortor. Donec
                    luctus sapien vitae urna vestibulum lacinia. Suspendisse in tellus interdum metus dictum suscipit ut
                    nec dolor.
                </p>
                <p class="headingtxt">
                    Mauris quis ornare metus, ut sodales nisl. Etiam semper dolor faucibus justo bibendum venenatis. Etiam semper eros nec vulputate
                    convallis. Proin vel ipsum dapibus, pretium felis id, pretium erat. Ut eget leo sagittis, cursus ex nec,
                    rutrum metus. Aliquam erat volutpat. Vivamus bibendum est massa.
                </p>
                <p class="headingtxt">
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Proin elementum maximus eros non pretium. Cras pretium in lorem id viverra. In
                    hac habitasse platea dictumst. Integer eleifend sollicitudin bibendum. Proin condimentum condimentum
                    arcu ut semper. Sed laoreet eleifend urna ac tempus. In condimentum lorem dui, ac rhoncus nisi mollis
                    ac.
                </p>
                <p class="headingtxt">
                    Aliquam placerat odio eu odio posuere, vel eleifend leo viverra. Nullam sem orci, semper et molestie ut, convallis nec quam.
                    Phasellus at arcu nec turpis pellentesque varius convallis at odio. Nulla molestie pharetra velit, a
                    facilisis risus mollis nec. Nulla tellus lacus, condimentum eget lacus sed, vulputate suscipit odio.
                    Ut ultrices justo sed mi tincidunt, in ornare velit fringilla. In ac bibendum augue. Nunc mi elit, iaculis
                    tristique tellus at, pretium sodales eros. Ut ullamcorper quam molestie nisl volutpat, quis cursus metus
                    lobortis. Vestibulum consequat, velit ac tempor volutpat, mauris diam pretium diam, quis sollicitudin
                    felis nunc ultrices sapien.
                    <br /> <br /> <br />
                </p>

            </div>
        </div>
        <br /> <br /> <br />
        <div class="footer b_box">
            <div>
                <ul class="bottom_list2">
                    <li>
                        <p class="b_1 li">Follow Us</p>
                    </li>
                    <li>
                        <p class="b_1 social fb li"><a href="http://www.facebook.com/" class="icons social fb"></a></p>
                    </li>
                    <li>
                        <p class="b_1 social li tw"><a href="http://www.twitter.com/" class="icons social tw"></a></p>
                    </li>
                    <li>
                        <p class="b_1 social li in"><a href="http://www.linkedin.com/" class="icons social in"></a></p>
                    </li>
                    <div class="clar"></div>
                </ul>
                <ul class="bottom_list2">
                    <li><a href="/submit" class="b_1 li">Submit entry</a></li>
                    <li><a href="/thecompetition" class="b_1 li">The competition</p></li>
                    <li><a href="/gallery" class="b_1 li">Gallery</p></li>
                </ul>
            </div>
        </div>
</body>

</html>