<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">

<style type="text/css">
body{background-color:#f4f7f6;}
.gallery{color:red;}
h3{color:green;
   font-size:40px;
   margin:0;
   padding:40px 15px;}
   @media only screen and (max-width: 600px){
h3{font-size:40px;
   }}
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
h3{font-size:40px;}}
.button {margin:0 auto;
    background-color:  #555555; 
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}
.button:hover{background-color:white;
               color:black;
			   border:1px solid black;}

</style>
</head>
<body>
    <div class="page">
         <div>
            <div >  <img src="img/logo.jpg"  class="logo1"/></div>
            <div class="nav_bar">
                <ul>
                    <li class="nav_con"><a href="photosplash.html" class="clr">Home</a></li>
                    <li class="nav_con"><a href="aboutus.html" class="clr">About us</a></li>
                    <li class="nav_con"><a href="gallery.html" class= "clr gallery">Gallery</a></li>
                    <li class="nav_con"><a href="thecompetition.html" class="clr comp">The competition</a></li>
                    <li class="nav_con"><a href="submit.html" class="clr">Submit entry</a></li>
                    <div class="clar"></div>
                    
                </ul>
            </div>	
          </div>
      	<br /><br /><br />
      
        <h3>THE GALLERY</h3>
            <ul>
                <li class="ov_cont b_box">
                    <a href="http://www.google.com">
                        <div class="pic_cont"> 
                            <img src="img/image2.jpg" class="images" />.
                            <div class="b_white"> 
                                <span class="pad" >John doe</span><span class="code">code num-6655</span> 
                                <p class="pad">Votes-1357</p> 
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ov_cont b_box">
                    <a href="http://www.google.com">
                        <div class="pic_cont">  <img src="img/image2.jpg" class="images" />.
                            <div class="b_white"> 
                                <span class="pad" >John doe</span><span class="code">code num-6655</span> 
                                <p class="pad">Votes-1357</p> 
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ov_cont b_box">
                    <a href="http://www.google.com">
                        <div class="pic_cont">  <img src="img/image2.jpg" class="images" />.
                            <div class="b_white"> 
                                <span class="pad" >John doe</span><span class="code">code num-6655</span> 
                                <p class="pad">Votes-1357</p>
                            </div> 
                        </div>
                    </a>
                </li>
                <li class="ov_cont b_box">
                    <a href="http://www.google.com">
                        <div class="pic_cont">  <img src="img/image2.jpg" class="images" />.
                            <div class="b_white"> 
                                <span class="pad" >John doe</span><span class="code">code num-6655</span> 
                                <p class="pad">Votes-1357</p>
                            </div> 
                        </div>
                    </a>
                </li>
                <li class="ov_cont b_box">
                    <a href="http://www.google.com">
                        <div class="pic_cont">  <img src="img/image2.jpg" class="images" />.
                            <div class="b_white"> 
                                <span class="pad" >John doe</span><span class="code">code num-6655</span> 
                                <p class="pad">Votes-1357</p> 
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ov_cont b_box">
                <a href="http://www.google.com">
                    <div class="pic_cont">  <img src="img/image2.jpg" class="images" />.
                        <div class="b_white"> 
                            <span class="pad" >John doe</span><span class="code">code num-6655</span> 
                            <p class="pad">Votes-1357</p> 
                        </div>
                    </div>
                </a>
                </li>
            	<div class="clar"></div>
            </ul> 
        	<button class="button button5">Load more...</button>
        
        
        <br /> <br />
        <div class="footer b_box">
            <div>
                <ul class="bottom_list2">
                    <li><p class="b_1 li">Follow Us</p></li>
                    <li><p class="b_1 social fb li"><a href="http://www.facebook.com/" class="icons social fb"></a></p></li>
                    <li><p class="b_1 social li tw"><a href="http://www.twitter.com/" class="icons social tw"></a></p></li>
                    <li><p class="b_1 social li in"><a href="http://www.linkedin.com/" class="icons social in"></a></p></li>
                    <div class="clar"></div>
                </ul>
                <ul class="bottom_list2">
                    <li><a href="../public/submit.html" class="b_1 li">Submit entry</a></li>
                    <li><a href="thecompetition.html" class="b_1 li">The competition</p></li>
                    <li><a href="gallery.html" class="b_1 li">Gallery</p></li>
                </ul> 
            </div>
        </div>
      	
     </div> 
   <script src="js/angular.js"></script>

</body>

</html>