<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<style type="text/css">
body{background: url(img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}
.comp{color:red;} 
h3{padding-left:40px;
   color:green;} 
span{color:black;
     font-size:20px;
	 text-transform:uppercase;}
.txt{width: 90%;
    text-align: left;
    margin: 0 auto;
    font-weight: 900;}

</style>
</head>
<body>
    <div class="page">
         <div>
            <div >  <img src="img/logo.jpg"  class="logo1"/></div>
            <div class="nav_bar">
                <ul>
                   <li class="nav_con"><a href="photosplash.html" class="clr">Home</a></li>
                   <li class="nav_con"><a href="aboutus.html" class="clr">About us</a></li>
                   <li class="nav_con"><a href="gallery.html" class= "clr">Gallery</a></li>
                   <li class="nav_con"><a href="thecompetition.html" class="clr comp">The competition</a></li>
                   <li class="nav_con"><a href="submit.html " class="clr">Submit entry</a></li>
                   <div class="clar"></div>
                    
                </ul> 
            </div>	
          </div>
      	<br />
      <div class="content">
            <div class="contenttxt">
                <div class="contentinner">
                <br /> <br /> <br />
                <h2 class="heading">THE PICTURE SPLASH CAMPAIGN</h2>
                <ol>
                    <div class="eqq"><img src="people1.jpg" style="width:100%" /></div>	
                    <div class="eqq"><img src="image2.jpg" style="width:100%" /></div> 
                    <div class="clar"></div>
                    <br /> 
                    <li class="txt">Voters stand a chance to win NGN500,000- NGN1,000,000 from participating and supporting
                        their favourite entries by sms vote. A raffle / lucky dip is done weekly to decide a winner for instant NGN100,000.
                    </li>
                    <li class="txt">The two products shall be housed in a uniform ussd code and shall have response sms that
                creates awareness for each other. 
                    </li>
                    <li class="txt">Rivers state quizzer to generate instant win of NGN500,000- NGN1,000,000. A raffle / lucky
                dip is done weekly to decide a winner for instant NGN100,000 
                    </li>
                	<li CLASS="txt">It shall be a 5 question and answer sequence. And the fastest player to make all correct
                answer entries wins. The award of the prize shall be televised to generate buzz and sustain
                awareness through the course of the event.
                    </li>
                </ol>
                <h2 class="heading">HOW IT WORKS:</h2>
                <div class="steps">
                
                    <h3>STEP 1:<span> Upload Picture</span></h3>
                    <img src="img/upload.png" class="logo" /> 
                    <p class="float">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed est ante. Donec suscipit neque sed nulla ullamcorper, quis lacinia erat varius
                    </p>
                    <div class="clar"></div>
                    
                    <h3>STEP 2: <span>Get Unique i.d</span></h3>
                    <img src="img/asterick.png" class="logo" /> 
                    <p class="float">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed est ante. Donec suscipit neque sed nulla ullamcorper, quis lacinia erat varius</p>
                    <div class="clar"></div>
                    
                    <h3>STEP 3: <span>Verify your Code</span></h3>
                    <img src="img/sms-alert-icon-15.png" class="logo" /> 
                    <p class="float">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed est ante. Donec suscipit neque sed nulla ullamcorper, quis lacinia erat varius</p>
                    <div class="clar"></div>
                    
                    <h3>STEP 4: <span>Vote</span></h3>
                    <img src="img/vote.jpg" class="logo" /> 
                    <p class="float">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed est ante. Donec suscipit neque sed nulla ullamcorper, quis lacinia erat varius</p>
                    <div class="clar"></div>
                    <a href="submit.html" class="sub">Submit entry &#8699;</a>
                </div>
            					<br /> <br /> <br />
            </div>
        </div>
        <br /> <br />
        <div class="footer b_box">
             <div>
               <ul class="bottom_list2">
                        <li><p class="b_1 li">Follow Us</p></li>
                        <li><p class="b_1 social fb li"><a href="http://www.facebook.com/" class="icons social fb"></a></p></li>
                        <li><p class="b_1 social li tw"><a href="http://www.twitter.com/" class="icons social tw"></a></p></li>
                        <li><p class="b_1 social li in"><a href="http://www.linkedin.com/" class="icons social in"></a></p></li>
                        <div class="clar"></div>
                </ul>
                <ul class="bottom_list2">
                        <li><a href="submit.html" class="b_1 li">Submit entry</a></li>
                        <li><a href="thecompetition.html" class="b_1 li">The competition</p></li>
                        <li><a href="gallery.html" class="b_1 li">Gallery</p></li>
                </ul>
             </div>
        </div>
      </div>
      <script src="js/angular.js"></script>

</body>

</html>